@font-face {
  font-family: "Lato";
  font-weight: normal;
  src: url("./fonts/Lato-Regular.woff") format("font-woff"),
    url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("./fonts/Lato-Bold.woff") format("font-woff"),
    url("./fonts/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: Lato !important;
}

label.required:before,
span.required:before {
  color: #cc746e;
  content: "● " !important;
  /* 	▪ ● ► → */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

.btn.btn-danger,
.btn.btn-default,
.btn.btn-info,
.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success,
.btn.btn-warning {
  color: #fff !important;
}

.btn .btn-success {
  background-color: #46c35f !important;
  border-color: #46c35f !important;
}

.btn.btn-success:hover {
  background-color: #46c35f !important;
  border-color: #5dca73 !important;
}

.btn .btn-warning:hover {
  background-color: #f4a641 !important;
  border-color: #f4a641 !important;
}

.btn.btn-warning:hover {
  background-color: #f4a641;
  border-color: #f4a641;
}

.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
.card-box-number {
  /* font-size: 3.125rem; */
  /* font-size: 2.125rem; */
  /* font-size: 1.9rem; */
  font-size: 1.5rem;
  line-height: 1;
  padding: 18px 0 0;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer !important;
}

.tbl {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.tbl-row {
  display: table-row;
}

.tbl-cell {
  display: table-cell;
  vertical-align: middle;
}

.box-typical .box-typical-header-sm.bordered {
  border-bottom: solid 1px #d8e2e7;
}

.box-typical .box-typical-header-sm {
  padding: 12px 15px;
  font-weight: 600;
  position: relative;
}

.main .container-fluid {
  padding: 0 10px !important;
}

.without {
  color: #b4b4b4;
}

.without figure {
  width: 250px;
  margin: 50px auto;
}

ul {
  list-style: none;
}

a.nav-link.purple:hover {
  background: #880188;
}

.btn.btn-grey.btn-default-outline,
.btn.dropdown-toggle.btn-default-outline,
.btn.dropdown-toggle:focus.btn-default-outline {
  color: #919fa9;
  border-color: #d8e2e7;
}

.btn.btn-grey,
.btn.dropdown-toggle,
.btn.dropdown-toggle:focus {
  background-color: #dbe4ea;
  border-color: #dbe4ea;
  color: #6c7a86;
  -webkit-transition: none;
  transition: none;
}

.no-border {
  border: none !important;
}

/*ESTADO DEL DEUDOR*/
.progress-steps {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.progress-steps .progress-step.active {
  border-color: #00a8ff;
  background-color: rgba(0, 168, 255, 0.5);
}

.progress-steps .progress-step:first-child {
  -webkit-border-radius: 25rem 0 0 25rem;
  border-radius: 25rem 0 0 25rem;
}

textarea {
  resize: vertical !important;
}

textarea {
  overflow: auto !important;
  vertical-align: top !important;
}

.p-a-lg {
  padding: 30px;
}

.box-typical .box-typical-footer .tbl-cell-action {
  white-space: nowrap;
  width: 20px;
  /*padding-left: 15px;*/
}

.box-typical .box-typical-footer .tbl-cell {
  vertical-align: middle;
}

.tx-right {
  text-align: right;
}

.widget-tabs-compact .widget-tabs-content {
  padding: 0px !important;
}

.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn:hover {
  cursor: pointer !important;
}

.excel-upload-input {
  display: none;
  z-index: -9999;
}

.drop {
  border: 2px dashed #bbb;
  width: 100% !important;
  height: 160px;
  line-height: 160px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}

.bg-gray-light {
  background: #edf1ee !important;
}

.card-header {
  background-color: #707070 !important;
  color: #efefef !important;
}

.badge {
  font-weight: normal !important;
}
.custom-select-trebol-primary {
  background-color: #0f9a6a !important;
  color: #ffffff !important;
}

.custom-select-trebol-danger {
  background-color: #fa7300 !important;
  color: #ffffff !important;
}

/*
.card-price {
    background-color: #FFFFFF;
}*/

.card-price p {
  margin: 0px !important;
  font-size: 13px;
}

.card-price img {
  width: 90%;
  height: 90%;
}

.card-price-img {
  /*background-color: #FFFFFF;*/
  background-color: #2f353a;
  text-align: center;
  border-radius: 4px !important;
  padding: 4px 0px 2px 1px !important;
}

.card-price-body {
  margin-left: 5px;
}

.widget-tabs-compact .widget-tabs-nav .nav-link-sm {
  height: 65px !important;
}

.img-tab-header {
  text-align: center;
}

.img-tab-header img {
  width: 30px;
  height: 30px;
}

.card-title-info {
  font-size: 12px !important;
  font-weight: bold;
  text-transform: uppercase;
}

.dropzone {
  max-height: 160px !important;
  min-height: 160px !important;
  background: #f0f2f8 !important;
  padding: 0 !important;
}

.dropzone .dz-message {
  margin: 5px 0 !important;
}

.table th,
.table td {
  padding: 0.35rem !important;
}

.loader-excel {
  /*border: 2px dashed #bbb;*/
  width: 100% !important;
  height: 160px;
  line-height: 160px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgba(24, 44, 68, 0.8);
  position: relative;
}

.loader-excel div {
  position: relative;
  top: 38px !important;
}

/* AJUSTAR EL LOADER EN EL CENTRO DE LA PANTALLA DEL NACEGADOR*/
.blockOverlay {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  position: fixed !important;
  flex-direction: row;
  -webkit-box-pack: center;
}

.blockMsg {
  position: fixed !important;
  top: 50vh !important;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.box-typical-custom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box-typical-custom .row {
  margin: 0px !important;
}

.box-typical-custom hr {
  margin-top: 0px !important;
}

.box-typical-custom p {
  font-size: 12px !important;
}

.box-typical-custom .row-footer {
  color: #585858 !important;
}

.box-typical-custom .row-footer p {
  margin-bottom: 2px !important;
}

.pagination a {
  cursor: pointer !important;
}

.w5 {
  width: 5% !important;
}

.w10 {
  width: 10% !important;
}

.w15 {
  width: 15% !important;
}

.w20 {
  width: 20% !important;
}

.w25 {
  width: 25% !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w70 {
  width: 70% !important;
}

.w80 {
  width: 80% !important;
}

.w90 {
  width: 90% !important;
}

.w100 {
  width: 100% !important;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.container-box {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f5f5f5;
  border: solid 1px #e4e5e633;
  margin: 0 0 20px;
  padding: 8px 8px 0;
}

/* ESTILOS PERSONALIZADOS PARA EL CALENDARIO */

.customize-calendar .fc-head {
  background-color: rgba(33, 151, 78, 1) !important;
  color: #efefef !important;
}

.customize-calendar .fc-event {
  /* border-color: rgba(33, 151, 78, 1) !important;
  background-color: rgba(33, 151, 78, 1) !important; */
  color: #efefef !important;
}

.customize-calendar .fc-event-dot {
  background-color: rgba(33, 151, 78, 1) !important;
}

.customize-calendar .fc-unthemed td.fc-today {
  background: #21974e3d !important;
}

.customize-calendar .fc-event-container {
  cursor: pointer !important;
}

.btn-custom-size {
  font-size: 10px !important;
}
.card-header .form-group {
  margin-bottom: 0px !important;
}

.card-header .form-group .col-form-label {
  font-weight: bold;
}

.b-dropdown {
  padding-top: 0px !important;
  padding-right: 0px !important;
  float: right !important;
}

.vue-daterange-picker .form-control {
  font-size: 0.8rem !important;
}
.list-notification {
  border-bottom: 1px solid #efefef !important;
}

.list-notification p {
  margin-bottom: 0px !important;
}

.daterangepicker-custom .daterangepicker {
  left: 100% !important;
}

.tbs-customer .nav-link {
  padding: 0.5rem 0.3rem !important;
}

.dropdown-menu li {
  border-bottom: 1px solid #efefef !important;
}

.vs__dropdown-toggle {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.dropdown-custom li a {
  min-width: 335px !important;
}

.dropdown-item {
  padding: 0.25rem 1.5rem !important;
}

.text-purple {
  color: #880188 !important;
}

.dropdown-custom-scroll {
  height: 275px;
  overflow-y: auto;
}

.dropdown-custom-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.dropdown-custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.dropdown-custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ccc;
  /* background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent) */
}

.custom-accordion .card .card-header {
  padding: 0.1rem !important;
  background-color: transparent !important;
}

.img-avatar-sm {
  max-width: 15%;
  height: auto;
  border: 3px solid #20a8d8;
}

.custom-file-input {
  cursor: pointer !important;
}

.img-gestion {
  height: 64px;
  width: 64px;
}

/* PERSONALIZACIÓN DE LAS TABS */

/* .custom-tabs .nav-tabs {
  background-color: #2f353a !important;
  border-radius: 5px 5px 0px 0px !important;
} */

.custom-tabs .nav-tabs .nav-link {
  color: #2f353a;
}

.tags-input-wrapper-default {
  padding: 0.375rem 0.75rem !important;
}

.switch-custom .switch-label.switch-sm {
  width: 82px !important;
  margin-left: 0px !important;
}

.switch-custom
  .switch-label.switch-sm
  .switch-input:checked
  ~ .switch-slider::before {
  -webkit-transform: translateX(57px) !important;
  transform: translateX(57px) !important;
}

.float-right {
  float: right !important;
}

.profile-side-user-sm- {
  padding: 5px !important;
}

.al-vm {
  vertical-align: middle !important;
}

.sidebar > .sidebar-nav ul li {
  font-size: 12px !important;
}

/* CAMBIOS DEL EMBUDO */
.label__value {
  color: #2f353a !important;
}

.label__title {
  color: #0f9a6a !important;
}

.figure-dash {
  margin: 18px auto !important;
}

.swal-footer {
  text-align: center !important;
}

.scroll-v-200 {
  max-height: 200px;
  overflow-y: auto;
}

/* ESTILOS PARA LA TABLA SCROLL VERTICAL */

.b-table-sticky-header {
  overflow-y: auto !important;
  max-height: 400px !important;
}

.b-table-sticky-header table th {
  background: rgba(33, 151, 78, 1);
  color: #fff;
  position: sticky;
  top: 0;
}

/* SCROLL DE TODA LA APP */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  /* background-color: rgb(255, 255, 255); */
  background-color: #f1f1f1;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #4dbd74;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px !important;
}

.svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__value {
  font-size: 17px !important;
  /* color: #fff !important; */
  line-height: 8px !important;
  margin-bottom: 4px !important;
}

.rc-anchor-invisible-text {
  background: #4dbd74 !important;
}

.footer-custom table tfoot th {
  background: rgba(33, 151, 78, 1);
  color: #fff;
  top: 0;
}

.sidebar .nav-link.active {
  color: #fff !important;
  background: #4dbd74 !important;
}

.sidebar .nav-link.active .nav-icon {
  color: #ffffff !important;
}
