.box-typical-upload {
	height: 314px
}

.box-typical-upload .box-typical-upload-in {
	padding: 10px
}

.box-typical-upload .drop-zone {
	width: auto;
	margin-bottom: 1rem;
	height: auto;
	padding-bottom: 1rem
}

.comment-item {
	padding: 15px;
	border-top: solid 1px #d8e2e7;
	font-size: .9375rem
}

.comment-item:first-child {
	border-top: none
}

.comment-item p {
	margin: 0
}

.comment-item .user-card-row {
	margin: 0 0 12px;
	font-size: .9375rem
}

.comment-item .comment-item-txt {
	line-height: 1.4
}

.comment-item .comment-item-meta {
	padding: 10px 0 5px;
	zoom: 1
}

.comment-item .comment-item-meta:after,
.comment-item .comment-item-meta:before {
	content: " ";
	display: table
}

.comment-item .comment-item-meta:after {
	clear: both
}

.comment-item .comment-item-meta a,
.comment-item .comment-item-meta button {
	float: left;
	border: none;
	background: 0 0;
	margin: 0 15px 0 0;
	color: #adb7be;
	font-size: 1rem
}

.comment-item .comment-item-meta a:hover,
.comment-item .comment-item-meta button:hover {
	color: #00a8ff
}

.comment-item .comment-item-meta a.star.active,
.comment-item .comment-item-meta a.star:hover,
.comment-item .comment-item-meta button.star.active,
.comment-item .comment-item-meta button.star:hover {
	color: #f18482
}

.box-typical-full-screen .comment-item .comment-item-txt {
	font-size: 1rem
}

.contact-row-list .contact-row:nth-child(odd) {
	background: #fbfcfd
}

.contact-row {
	padding: 15px 20px 15px 15px;
	color: #6c7a86;
	line-height: 1.2
}

.box-typical-full-screen .contact-row {
	padding-top: 20px;
	padding-bottom: 20px
}

.contact-row .user-card-row {
	font-size: .9375rem
}

.widget {
	margin: 0 0 30px
}

.widget-header-dark {
	-webkit-border-radius: .25rem .25rem 0 0;
	border-radius: .25rem .25rem 0 0;
	background: #323a44;
	color: #fff;
	font-weight: 600;
	padding: .75rem 1rem;
	text-align: center
}

.widget-header-dark.with-btn {
	text-align: left;
	position: relative;
	padding-right: 55px
}

.widget-header-dark .widget-header-btn {
	display: block;
	width: 46px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #21262c;
	border: none;
	-webkit-border-radius: 0 .25rem 0 0;
	border-radius: 0 .25rem 0 0;
	color: #919fa9
}

.widget-header-dark .widget-header-btn:hover {
	color: #fff
}

.widget-header-dark .widget-header-btn .font-icon {
	vertical-align: middle;
	position: relative;
	top: 1px
}

.widget-tabs-content {
	background: #fff;
	border: solid 1px #d8e2e7;
	border-top: none;
	border-bottom: none;
	min-height: 230px;
	padding: 30px 0 0
}

.widget-tabs-nav {
	display: table;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center
}

.widget-tabs-nav .nav-item {
	display: table-cell
}

.widget-tabs-nav .nav-link {
	display: block;
	height: 94px;
	position: relative;
	background: #fbfcfd;
	-webkit-transition: none;
	transition: none;
	font-weight: 600;
	font-size: .75rem;
	text-transform: uppercase
}

.widget-tabs-nav .nav-link:hover {
	background-color: #f6f8fa
}

.widget-tabs-nav .nav-link.active {
	cursor: default
}

.widget-tabs-nav .nav-item:first-child .nav-link {
	-webkit-border-bottom-left-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.widget-tabs-nav .nav-item:last-child .nav-link {
	-webkit-border-bottom-right-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.widget-tabs-nav .font-icon {
	display: block;
	height: 64px;
	overflow: hidden;
	line-height: 70px;
	font-size: 1.875rem
}

.widget-tabs-nav.bordered .nav-link {
	border: solid 1px #d8e2e7;
	border-left: none;
	border-top: none;
	color: #919fa9
}

.widget-tabs-nav.bordered .nav-link:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	border-top: solid 1px #d8e2e7
}

.widget-tabs-nav.bordered .nav-link.active {
	background-color: #fff;
	color: #ac6bec
}

.widget-tabs-nav.bordered .nav-link.active:before {
	display: none
}

.widget-tabs-nav.bordered .nav-item:first-child .nav-link {
	border-left: solid 1px #d8e2e7
}

.widget-tabs-nav.colored .nav-link {
	color: #fff
}

.widget-tabs-nav.colored .nav-link.green {
	background-color: #008B80
}

.widget-tabs-nav.colored .nav-link.green.active,
.widget-tabs-nav.colored .nav-link.green:hover {
	background-color: rgb(15, 179, 165)
}

.widget-tabs-nav.colored .nav-link.blue {
	background-color: #00a8ff
}

.widget-tabs-nav.colored .nav-link.blue.active,
.widget-tabs-nav.colored .nav-link.blue:hover {
	background-color: #0097e6
}


.widget-tabs-nav.colored .nav-link.bluedark {
	background-color: #00386F
}

.widget-tabs-nav.colored .nav-link.bluedark.active,
.widget-tabs-nav.colored .nav-link.bluedark:hover {
	background-color: rgb(0, 84, 168)
}

.widget-tabs-nav.colored .nav-link.orange {
	background-color: #fdad2a
}

.widget-tabs-nav.colored .nav-link.orange.active,
.widget-tabs-nav.colored .nav-link.orange:hover {
	background-color: #fda311
}

.widget-tabs-nav.colored .nav-link.red {
	background-color: #fa424a
}

.widget-tabs-nav.colored .nav-link.red.active,
.widget-tabs-nav.colored .nav-link.red:hover {
	background-color: #f92932
}

.widget-tabs-compact .widget-tabs-content {
	min-height: 102px;
	border-top: solid 1px #d8e2e7;
	-webkit-border-radius: .25rem .25rem 0 0;
	border-radius: .25rem .25rem 0 0;
	padding: 18px
}

.widget-tabs-compact .widget-tabs-nav .nav-link {
	height: 80px;
	font-size: .875rem
}

.widget-tabs-compact .widget-tabs-nav .font-icon {
	font-size: 1.625rem;
	height: 48px;
	line-height: 60px
}

.top-tabs.widget-tabs-compact .widget-tabs-content {
	border-top: none;
	border-bottom: solid 1px #d8e2e7;
	-webkit-border-bottom-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	-webkit-border-bottom-right-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.top-tabs.widget-tabs-compact .widget-tabs-nav {
	-webkit-border-top-left-radius: .25rem;
	border-top-left-radius: .25rem;
	-webkit-border-top-right-radius: .25rem;
	border-top-right-radius: .25rem
}

.top-tabs.widget-tabs-compact .widget-tabs-nav .nav-link {
	border-top: solid 1px #d8e2e7
}

.top-tabs.widget-tabs-compact .widget-tabs-nav .nav-item:first-child .nav-link {
	-webkit-border-top-left-radius: .25rem;
	border-top-left-radius: .25rem
}

.top-tabs.widget-tabs-compact .widget-tabs-nav .nav-item:last-child .nav-link {
	-webkit-border-top-right-radius: .25rem;
	border-top-right-radius: .25rem
}

.top-tabs .widget-tabs-nav .nav-link:before {
	border-top: none
}

.top-tabs .widget-tabs-nav .nav-link.active {
	border-bottom: none
}

.top-tabs .widget-tabs-nav.colored .nav-link {
	-webkit-border-radius: 0;
	border-radius: 0
}

.widget-simple-sm {
	border: solid 1px #d8e2e7;
	background: #fff;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	text-align: center
}

.widget-simple-sm .widget-simple-sm-icon {
	height: 80px;
	overflow: hidden;
	line-height: 80px;
	font-size: 2.75rem
}

.widget-simple-sm .widget-simple-sm-icon .font-icon {
	position: relative;
	top: 5px
}

.widget-simple-sm .widget-simple-sm-statistic {
	line-height: 1;
	padding: 15px 10px
}

.widget-simple-sm .widget-simple-sm-statistic .number {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0 0 6px
}

.widget-simple-sm .widget-simple-sm-statistic .caption {
	font-size: .875rem;
	font-weight: 600;
	text-transform: uppercase
}

.widget-simple-sm .widget-simple-sm-bottom {
	border-top: solid 1px #d8e2e7;
	background: #f6f8fa;
	font-weight: 600;
	padding: 15px 10px;
	font-size: .9375rem;
	line-height: normal;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.widget-simple-sm .widget-simple-sm-bottom a {
	color: #343434
}

.widget-simple-sm .widget-simple-sm-bottom a:hover {
	color: #00a8ff
}

.widget-simple-sm .widget-simple-sm-bottom.statistic {
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1rem
}

.widget-simple-sm .widget-simple-sm-bottom.statistic strong {
	font-weight: 600
}

.widget-simple-sm .widget-simple-sm-bottom.statistic .arrow {
	font-size: 1rem
}

.widget-simple-sm-fill {
	color: #fff;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	text-align: center;
	background: #00a8ff
}

.widget-simple-sm-fill .widget-simple-sm-icon {
	height: 80px;
	overflow: hidden;
	line-height: 80px;
	font-size: 2.75rem
}

.widget-simple-sm-fill .widget-simple-sm-icon .font-icon {
	position: relative;
	top: 17px
}

.widget-simple-sm-fill .widget-simple-sm-fill-caption {
	font-weight: 600;
	font-size: .9375rem;
	line-height: normal;
	padding: 16px 10px 15px
}

.widget-simple-sm-fill.red {
	background-color: #fa424a
}

.widget-simple-sm-fill.green {
	background-color: #46c35f
}

.widget-simple-sm-fill.orange {
	background-color: #fdad2a
}

.widget-simple-sm-fill.purple {
	background-color: #ac6bec
}

.widget-simple-sm-fill.grey {
	background-color: #adb7be
}

.widget-time .widget-time-content {
	padding: .75rem .25rem 1rem;
	background: #fff;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem;
	border: solid 1px #d8e2e7;
	border-top: none;
	color: #323a44;
	text-align: center
}

.widget-time .count-item {
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	font-weight: 600
}

.widget-time .count-item.divider {
	padding: 0 10px;
	opacity: .5;
	font-size: 2.875rem
}

.widget-time .count-item-number {
	font-size: 2.875rem
}

.widget-time .count-item-caption {
	font-size: .75rem;
	text-transform: uppercase;
	padding: .25rem 0 0
}

.widget-time.aquamarine .widget-time-content {
	color: #fff;
	background-color: #21a788;
	border-color: #21a788
}

.widget-weather .widget-weather-big {
	height: 175px;
	background: #00a8ff;
	color: #fff;
	-webkit-border-radius: .25rem .25rem 0 0;
	border-radius: .25rem .25rem 0 0;
	text-align: center;
	overflow: hidden;
	zoom: 1
}

.widget-weather .widget-weather-big:after,
.widget-weather .widget-weather-big:before {
	content: " ";
	display: table
}

.widget-weather .widget-weather-big:after {
	clear: both
}

.widget-weather .widget-weather-big .icon {
	float: left;
	width: 60%;
	line-height: 174px;
	font-size: 6.875rem;
	padding: 0 0 0 5%
}

.widget-weather .widget-weather-big .icon .font-icon {
	vertical-align: middle;
	position: relative;
	top: 2px
}

.widget-weather .widget-weather-big .info {
	float: left;
	width: 40%;
	line-height: 1;
	padding: 48px 0 0
}

.widget-weather .widget-weather-big .degrees {
	font-size: 3.5rem
}

.widget-weather .widget-weather-big .weather {
	font-weight: 600;
	padding: 0 18px 0 0
}

.widget-weather .widget-weather-content {
	background: #fff;
	border: solid 1px #d8e2e7;
	border-top: none;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem;
	zoom: 1
}

.widget-weather .widget-weather-content:after,
.widget-weather .widget-weather-content:before {
	content: " ";
	display: table
}

.widget-weather .widget-weather-content:after {
	clear: both
}

.widget-weather .widget-weather-item {
	text-align: center
}

.widget-weather .widget-weather-item-time {
	white-space: nowrap;
	line-height: 42px
}

.widget-weather .widget-weather-item-info {
	border-top: solid 1px #d8e2e7;
	line-height: 1;
	padding: 15px 0
}

.widget-weather .widget-weather-item-info .font-icon {
	color: #00a8ff;
	font-size: 2.25rem;
	display: block;
	margin: 0 0 6px
}

.widget-weather .slick-dots {
	background: #f6f8fa;
	border-top: solid 1px #d8e2e7;
	text-align: center;
	padding: 4px 0;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.widget-weather .slick-dots li {
	display: inline-block;
	padding: 6px 0
}

.widget-weather .slick-dots button {
	border: none;
	background: #adb7be;
	width: 6px;
	height: 6px;
	overflow: hidden;
	text-indent: -1000px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 6px;
	line-height: 6px
}

.widget-weather .slick-dots button:hover {
	background-color: #00a8ff
}

.widget-weather .slick-dots .slick-active button {
	background-color: #00a8ff
}

.widget-accordion {
	background: #fff;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	border: solid 1px #d8e2e7
}

.widget-accordion .panel {
	border-top: solid 1px #d8e2e7
}

.widget-accordion .panel:first-child {
	border-top: none
}

.widget-accordion .panel:first-child .panel-heading a {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.widget-accordion .panel:last-child .panel-heading a {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.widget-accordion .panel-heading a {
	display: block;
	padding: 12px 44px 12px 15px;
	color: #343434;
	font-weight: 600;
	background: #fbfcfd;
	position: relative
}

.widget-accordion .panel-heading a .font-icon {
	font-size: .75rem;
	height: 16px;
	line-height: 16px;
	display: block;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -6px;
	color: #adb7be;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.widget-accordion .panel-heading a:hover {
	background: 0 0
}

.widget-accordion .panel-heading a:hover .font-icon {
	color: #343434
}

.widget-accordion .panel-heading a[aria-expanded=true] {
	background: 0 0;
	color: #0082c6
}

.widget-accordion .panel-heading a[aria-expanded=true] .font-icon {
	color: #0082c6
}

.widget-accordion .panel-collapse-in {
	padding: 0 15px 15px;
	font-size: .9375rem
}

.widget-accordion .title {
	font-weight: 600;
	margin: 0 0 .25rem;
	font-size: 1rem
}

.widget-accordion .user-card-row {
	margin: 0 0 1rem;
	font-size: .9375rem
}

.widget-youtube {
	border: none;
	overflow: hidden;
	position: relative
}

.widgets-header .tbl-outer {
	table-layout: fixed
}

.widgets-header .tbl-outer>.tbl-row>.tbl-cell {
	border-left: solid 1px #d8e2e7;
	padding: 15px 30px
}

.widgets-header .tbl-outer>.tbl-row>.tbl-cell:first-child {
	border-left: none;
	padding-left: 0
}

.widgets-header .tbl-outer>.tbl-row>.tbl-cell:last-child {
	padding-right: 0
}

.widgets-header .tbl-item {
	line-height: 1.25rem
}

.widgets-header .tbl-item .tbl-cell {
	padding: 0
}

.widgets-header .tbl-item .tbl-cell-progress {
	width: 66px;
	padding-left: 10px
}

.widgets-header .tbl-item .title {
	font-weight: 600;
	color: rgba(52, 52, 52, .8)
}

.widgets-header .tbl-item .amount {
	font-weight: 600;
	font-size: 1rem
}

.widgets-header .tbl-item .amount-sm {
	color: #919fa9;
	font-size: .875rem
}

@media (max-width:767px) {
	.widgets-header .tbl-outer,
	.widgets-header .tbl-outer>.tbl-row,
	.widgets-header .tbl-outer>.tbl-row>.tbl-cell {
		display: block
	}
	.widgets-header .tbl-outer>.tbl-row>.tbl-cell {
		border-left: none;
		border-top: solid 1px #d8e2e7;
		padding-left: 0;
		padding-right: 0
	}
}

.widget-user {
	background: #fff;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	border: solid 1px #d8e2e7;
	text-align: center
}

.widget-user .widget-user-bg {
	height: 92px;
	-webkit-border-radius: .25rem .25rem 0 0;
	border-radius: .25rem .25rem 0 0;
	background: no-repeat 50% 50%;
	background-size: cover;
	margin: -1px -1px 0
}

.widget-user .widget-user-photo {
	width: 110px;
	height: 110px;
	margin: -68px auto 10px;
	position: relative
}

.widget-user .widget-user-photo img {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 2px #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff
}

.widget-user .widget-user-name {
	font-size: 1.375rem
}

.widget-user .widget-user-name .font-icon {
	color: #f29824;
	font-size: 1.125rem;
	vertical-align: middle;
	margin: 0 0 0 3px;
	position: relative;
	top: 1px
}

.widget-user .widget-user-stat {
	border-top: solid 1px #d8e2e7;
	zoom: 1;
	margin: 15px 0 0
}

.widget-user .widget-user-stat:after,
.widget-user .widget-user-stat:before {
	content: " ";
	display: table
}

.widget-user .widget-user-stat:after {
	clear: both
}

.widget-user .widget-user-stat .item {
	float: left;
	width: 33.333333%;
	padding: 18px 5px 20px
}

.widget-user .widget-user-stat .number {
	font-size: 1.375rem
}

.widget-user .widget-user-stat .caption {
	color: #919fa9;
	font-size: .9375rem
}

.widget-activity,
.widget-tasks {
	border: solid 1px #d8e2e7;
	background: #fff;
	padding: 0 0 5px;
	-webkit-border-radius: .25rem;
	border-radius: .25rem
}

.widget-activity .widget-header,
.widget-tasks .widget-header {
	border-bottom: solid 1px #d8e2e7;
	padding: 12px 15px;
	font-weight: 600
}

.widget-activity .widget-header .label,
.widget-tasks .widget-header .label {
	padding-right: .5em;
	padding-left: .5em;
	margin-left: 3px
}

.widget-activity .widget-activity-item,
.widget-activity .widget-tasks-item,
.widget-tasks .widget-activity-item,
.widget-tasks .widget-tasks-item {
	padding: 12px 15px;
	position: relative
}

.widget-activity .widget-activity-item .user-card-row,
.widget-activity .widget-tasks-item .user-card-row,
.widget-tasks .widget-activity-item .user-card-row,
.widget-tasks .widget-tasks-item .user-card-row {
	font-size: 1rem;
	line-height: 20px
}

.widget-activity .widget-tasks-item,
.widget-tasks .widget-tasks-item {
	padding-right: 35px
}

.widget-activity .widget-tasks-item:nth-child(odd),
.widget-tasks .widget-tasks-item:nth-child(odd) {
	background: #fbfcfd
}

.widget-activity .widget-menu,
.widget-tasks .widget-menu {
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -9px
}

.widget-activity .widget-menu>button,
.widget-tasks .widget-menu>button {
	border: none;
	background: 0 0;
	padding: 0;
	color: #919fa9;
	font-size: 1.125rem;
	line-height: 1
}

.widget-activity .widget-menu.open>button,
.widget-activity .widget-menu>button:hover,
.widget-tasks .widget-menu.open>button,
.widget-tasks .widget-menu>button:hover {
	color: #00a8ff
}

.widget-activity .widget-activity-item,
.widget-tasks .widget-activity-item {
	color: #919fa9
}

.widget-activity .widget-activity-item:before,
.widget-tasks .widget-activity-item:before {
	content: '';
	display: block;
	width: 0;
	height: 100%;
	position: absolute;
	left: 31px;
	top: 50%;
	border-left: solid 1px #d8e2e7
}

.widget-activity .widget-activity-item:last-child:before,
.widget-tasks .widget-activity-item:last-child:before {
	display: none
}

.widget-activity .widget-activity-item a,
.widget-tasks .widget-activity-item a {
	color: #343434
}

.widget-activity .widget-activity-item a:hover,
.widget-tasks .widget-activity-item a:hover {
	color: #00a8ff
}

.widget-activity .widget-activity-item .user-card-row,
.widget-tasks .widget-activity-item .user-card-row {
	position: relative
}

.ggl-pie-chart,
.ggl-pie-chart-container {
	position: relative;
	width: 156px;
	height: 156px;
	margin: 0 auto
}

.ggl-pie-chart-container.size-180 {
	width: 180px;
	height: 180px
}

.ggl-pie-chart-container.size-180 .ggl-pie-chart {
	width: 180px;
	height: 180px
}

.ggl-pie-chart-container.size-180 .ggl-pie-chart-title {
	top: 66px
}

.ggl-pie-chart-title {
	position: absolute;
	left: 15%;
	top: 54px;
	text-align: center;
	width: 70%;
	font-weight: 600;
	line-height: 1
}

.ggl-pie-chart-title .caption {
	color: #919fa9;
	text-transform: uppercase;
	font-size: .75rem;
	margin: 0 0 4px
}

.ggl-pie-chart-title .number {
	font-size: 2.25rem
}

.widget-pie-chart {
	background: #fff;
	border: solid 1px #d8e2e7;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	padding: 15px;
	zoom: 1
}

.widget-pie-chart:after,
.widget-pie-chart:before {
	content: " ";
	display: table
}

.widget-pie-chart:after {
	clear: both
}

.widget-pie-chart .legends-col {
	float: left;
	width: 55%;
	zoom: 1
}

.widget-pie-chart .legends-col:after,
.widget-pie-chart .legends-col:before {
	content: " ";
	display: table
}

.widget-pie-chart .legends-col:after {
	clear: both
}

.widget-pie-chart .legends-col .col {
	float: left;
	width: 50%
}

.widget-pie-chart .chart-col {
	float: left;
	width: 45%
}

.widget-pie-chart .chart-box-info {
	margin: 0 30px 18px 0;
	border: solid 1px #d8e2e7;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	background: #fff;
	text-align: center;
	font-weight: 600;
	line-height: 1
}

.widget-pie-chart .chart-box-info .caption,
.widget-pie-chart .chart-box-info .number {
	padding: 0 10px
}

.widget-pie-chart .chart-box-info .number {
	font-size: 1.5rem;
	padding-top: 12px;
	padding-bottom: 12px
}

.widget-pie-chart .chart-box-info .caption {
	border-top: solid 1px #d8e2e7;
	background: #f6f8fa;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding-top: 12px;
	padding-bottom: 12px
}

.widget-pie-chart .col-40,
.widget-pie-chart .col-60 {
	float: left
}

.widget-pie-chart .col-60 {
	width: 60%
}

.widget-pie-chart .col-40 {
	width: 40%
}

.widget-pie-chart .no-padding {
	margin: 0 -15px
}

.widget-pie-chart .tbl-grid .tbl-cell-55 {
	width: 55%
}

.widget-pie-chart .tbl-grid .tbl-cell-45 {
	width: 45%
}

.widget-pie-chart .tbl-grid .tbl-cell-60 {
	width: 60%
}

.widget-pie-chart .tbl-grid .tbl-cell-40 {
	width: 40%
}

.widget-pie-chart .tbl-grid .tbl-cell-30 {
	width: 30%
}

.widget-pie-chart .tbl-grid .tbl-cell-33 {
	width: 33%
}

.widget-pie-chart .tbl-grid .tbl-cell-33 {
	width: 33%
}

.widget-pie-chart .tbl-grid .tbl-cell-35 {
	width: 35%
}

.widget-pie-chart .tbl-grid .tbl-cell-340px {
	width: 285px
}

.widget-pie-chart .tbl-grid .col {
	float: left;
	width: 50%
}

.widget-pie-chart .display-inline {
	text-align: left;
	display: inline-block;
	vertical-align: top
}

.widget-pie-chart .widget-pie-chart-header {
	zoom: 1;
	margin: 0 0 10px
}

.widget-pie-chart .widget-pie-chart-header:after,
.widget-pie-chart .widget-pie-chart-header:before {
	content: " ";
	display: table
}

.widget-pie-chart .widget-pie-chart-header:after {
	clear: both
}

.widget-pie-chart .widget-pie-chart-header .widget-pie-chart-header-title {
	font-weight: 600;
	padding: .375rem 0;
	position: relative;
	top: 2px
}

.widget-pie-chart .widget-pie-chart-header .period {
	position: relative;
	padding: 0 0 0 55px
}

.widget-pie-chart .widget-pie-chart-header .period .lbl {
	position: absolute;
	left: 0;
	top: 2px;
	padding: .375rem 0
}

.chart-legend {
	padding: 14px 0
}

.chart-legend .circle {
	display: inline-block;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 4px #adb7be
}

.chart-legend .circle.red {
	border-color: #fa424a
}

.chart-legend .circle.blue {
	border-color: #00a8ff
}

.chart-legend .circle.orange {
	border-color: #fdad2a
}

.chart-legend .circle.green {
	border-color: #46c35f
}

.chart-legend .circle.purple {
	border-color: #ac6bec
}

.chart-legend .circle.pink {
	border-color: #e84f9a
}

.chart-legend .percent {
	display: inline-block;
	font-weight: 600;
	font-size: 1.25rem
}

.chart-legend .percent sup {
	font-weight: 400;
	color: #919fa9;
	margin: 0 0 0 4px
}

.chart-legend .caption {
	font-size: .875rem;
	padding: 2px 0 0
}

.chart-legend-list .dot,
.chart-legend-tbl .dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #adb7be;
	margin: 0 5px 0 0;
	position: relative;
	top: -1px
}

.chart-legend-list .dot.red,
.chart-legend-tbl .dot.red {
	background-color: #fa424a
}

.chart-legend-list .dot.blue,
.chart-legend-tbl .dot.blue {
	background-color: #00a8ff
}

.chart-legend-list .dot.orange,
.chart-legend-tbl .dot.orange {
	background-color: #fdad2a
}

.chart-legend-list .dot.green,
.chart-legend-tbl .dot.green {
	background-color: #46c35f
}

.chart-legend-list .dot.purple,
.chart-legend-tbl .dot.purple {
	background-color: #ac6bec
}

.chart-legend-list .dot.pink,
.chart-legend-tbl .dot.pink {
	background-color: #e84f9a
}

.chart-legend-list.font-16,
.chart-legend-tbl.font-16 {
	font-size: 1rem
}

.chart-legend-tbl {
	clear: both
}

.chart-legend-tbl .title {
	font-weight: 600;
	margin: 0 0 8px
}

.chart-legend-tbl .tbl {
	width: auto
}

.chart-legend-tbl .tbl-cell {
	padding: 3px 0
}

.chart-legend-tbl .tbl-cell-legend {
	padding-right: 10px
}

.chart-legend-tbl .tbl-cell-value {
	text-align: right;
	padding-left: 10px;
	border-left: solid 1px #d8e2e7;
	color: #919fa9
}

.chart-legend-list {
	font-size: .75rem;
	padding: 5px 0 0
}

.chart-legend-list li {
	margin: 5px 0
}

.widget-chart-combo {
	background: #fff;
	border: solid 1px #d8e2e7;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	zoom: 1
}

.widget-chart-combo:after,
.widget-chart-combo:before {
	content: " ";
	display: table
}

.widget-chart-combo:after {
	clear: both
}

.widget-chart-combo .widget-chart-combo-header {
	padding: 10px 10px 0;
	border-bottom: solid 1px #d8e2e7;
	zoom: 1
}

.widget-chart-combo .widget-chart-combo-header:after,
.widget-chart-combo .widget-chart-combo-header:before {
	content: " ";
	display: table
}

.widget-chart-combo .widget-chart-combo-header:after {
	clear: both
}

.widget-chart-combo .widget-chart-combo-header .widget-chart-combo-header-left,
.widget-chart-combo .widget-chart-combo-header .widget-chart-combo-header-right {
	margin: 0 0 10px
}

.widget-chart-combo .widget-chart-combo-header .widget-chart-combo-header-left {
	float: left;
	width: 145px
}

.widget-chart-combo .widget-chart-combo-header .widget-chart-combo-header-right {
	float: right;
	width: 262px;
	position: relative;
	padding: 0 70px 0 0
}

.widget-chart-combo .widget-chart-combo-header .widget-chart-combo-header-right .btn {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 60px
}

.widget-chart-combo .widget-chart-combo-side {
	float: right;
	width: 150px;
	position: relative;
	background: #f6f8fa;
	-webkit-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0;
	border-left: solid 1px #d8e2e7
}

.widget-chart-combo .widget-chart-combo-side .tbl {
	height: 100%
}

.widget-chart-combo .widget-chart-combo-side .tbl-cell {
	padding: 10px 10px 10px 15px;
	font-size: .9575rem;
	border-top: solid 1px #d8e2e7
}

.widget-chart-combo .widget-chart-combo-side .tbl-row:first-child .tbl-cell {
	border-top: none
}

.widget-chart-combo .widget-chart-combo-side .number {
	font-size: 1rem;
	font-weight: 600
}

.widget-chart-combo .widget-chart-combo-content {
	float: left;
	width: 100%;
	margin-right: -150px
}

.widget-chart-combo .widget-chart-combo-content-in {
	margin-right: 150px;
	padding: 15px 15px 5px
}

.widget-chart-combo .widget-chart-combo-content-title {
	font-weight: 600;
	margin: 0 0 15px
}

.widget-chart-combo .chart {
	width: 100%;
	height: 210px
}

.widget-chart-combo .chart-legend-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	font-size: 1rem
}

.widget-chart-combo .chart-legend-list .dot {
	top: -2px
}

.widget-chart-extra .widget-chart-extra-section {
	border-top: solid 1px #d8e2e7;
	padding: 15px
}

.widget-chart-extra .widget-chart-extra-inner {
	background: #fff;
	border: solid 1px #d8e2e7;
	border-top: none;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem
}

.widget-chart-extra .widget-chart-extra-title {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 0 12px
}

.widget-chart-extra-blue {
	background: #008ffb;
	color: #fff;
	padding: 15px 0;
	-webkit-border-radius: .25rem .25rem 0 0;
	border-radius: .25rem .25rem 0 0
}

.widget-chart-extra-blue .widget-chart-extra-blue-title {
	padding: 0 15px 15px;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 600
}

.widget-chart-extra-blue .chart {
	height: 230px
}

.widget-chart-extra-bars {
	zoom: 1
}

.widget-chart-extra-bars:after,
.widget-chart-extra-bars:before {
	content: " ";
	display: table
}

.widget-chart-extra-bars:after {
	clear: both
}

.widget-chart-extra-bars .widget-chart-extra-bars-chart {
	float: left;
	width: 100%;
	margin-right: -95px
}

.widget-chart-extra-bars .widget-chart-extra-bars-chart-in {
	margin-right: 95px
}

.widget-chart-extra-bars .widget-chart-extra-bars-txt {
	float: right;
	width: 95px;
	position: relative;
	text-align: right
}

.widget-chart-extra-bars .widget-chart-extra-bars-txt .number {
	height: 64px;
	overflow: hidden;
	line-height: 64px;
	margin: 0 0 2px;
	color: #ac6bec;
	font-size: 2.25rem;
	font-weight: 600
}

.widget-chart-extra-bars .widget-chart-extra-bars-txt .caption {
	font-size: .875rem
}

.widget-chart-extra-stat {
	table-layout: fixed
}

.widget-chart-extra-stat .tbl-cell {
	vertical-align: top
}

.widget-chart-extra-stat .title {
	font-weight: 600;
	margin: 0 0 5px
}

.widget-chart-extra-stat .number {
	color: #ac6bec;
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 1
}

.cstm-chart-bars {
	display: table;
	width: 100%;
	table-layout: fixed
}

.cstm-chart-bars .cstm-chart-bars-in {
	display: table-row
}

.cstm-chart-bars .item {
	display: table-cell;
	vertical-align: top
}

.cstm-chart-bars .bar,
.cstm-chart-bars .caption {
	width: 65%;
	max-width: 16px
}

.cstm-chart-bars .bar {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	height: 64px;
	background: #eceff4;
	position: relative;
	overflow: hidden;
	margin: 0 0 5px
}

.cstm-chart-bars .bar>div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #ac6bec
}

.cstm-chart-bars .caption {
	text-align: center;
	font-size: .75rem
}