<template>
  <div class="animated fadeIn">
    <default-dashboard ></default-dashboard>
  </div>
</template>

<script>
import DefaultDashboard from "./dashboard/default/DefaultDashboard";

export default {
  name: "dashboard",
  components: {
    DefaultDashboard
  },
  data: function() {
    return {
      role_id: localStorage.getItem("role_id") // PARA DETERMINAR EL ROL DEL USUARIO QUE INGRESA
    };
  },
  created() { },
  methods: {}
};
</script>
