<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        
        <b-col md="8">
          <b-card-group deck>
            
            <b-card class="p-2">
              <div class="col-12 text-center py-3">
                  <img src="../../assets/logo1.png" height="50px" alt="">
              </div>
              <b-card-header  class="bg-success">
                <h3 class="mb-0">PORTAL DE PAGOS</h3>
              </b-card-header>

              <b-card-body>
                <!-- <form @submit.prevent="update()" method="post"> -->
                  <b-row>
                    <b-col sm="12" v-if="errores.length">
                      <b-alert show variant="warning">
                        <b>ADVERTENCIAS:</b>
                        <li
                          class="ml-2"
                          v-for="(error, index) in errores"
                          :key="index"
                        >
                          {{ error }}
                        </li>
                      </b-alert>
                    </b-col>
                  </b-row>

                  <b-row>
                    <b-col sm="6">
                      <b-form-group>
                        <label for="txtCedula">Número de cédula o NIT</label>
                        <b-form-input
                          type="text"
                          id="txtCedula"
                          placeholder="10178965"
                          v-model="identification"
                        ></b-form-input>
                      </b-form-group>
                    </b-col>

                    <b-col sm="6">
                      <b-form-group>
                        <label for="txtCorreo">Correo electrónico</label>
                        <b-form-input
                          type="email"
                          id="txtCorreo"
                          placeholder="escribe@tucorreo.com"
                          v-model="email"
                        ></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>

                  <b-row>
                    <p class="ml-2" style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy
                      text ever since the 1500s, when an unknown printer took a galley of type and
                      scrambled it to make a type specimen book.</p>
                  </b-row>

                  <b-row>
                    <b-col sm="12 offset-5" xs="12 offset-5">
                      <div class="custom-control custom-radio custom-control-inline" style="">
                        <input type="radio" id="rbtEstadoA" v-bind:value="1" name="rbtEstado" class="custom-control-input" v-model="politics"/>
                        <label class="custom-control-label" for="rbtEstadoA">Acepto</label>
                      </div>
                    </b-col>
                  </b-row>

                  <b-row class="mt-2 mb-2 mt-3">
                    <b-col sm="8" class="center-block">
                      <b-row>
                        <b-col cols="12">
                          <b-button
                            
                            variant="success"
                            class="col-sm-12"  @click="searchDebtor()"
                            >Consultar</b-button
                          >
                        </b-col>
                  
                      </b-row>
                    </b-col>
                  </b-row>
                <!-- </form> -->
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pay",
  data() {
    return {
      politics: 0,
      email: "",
      identification:"",
      errores: [],
      debtor:null,
      customers:[],
      invoices:[],
      elements:[],
    };
  },
  methods: {
    formPay() {
      this.$router.push(
            { name: 'pay-debtor-invoce', 
              params:{ 
                        debtor: this.debtor, 
                        customers:this.customers,
                        invoices:this.invoices,
                      }
            });
    },
    searchDebtor(){
     
      this.validateForm();
      if(this.errores.length === 0){
        showLoader();
        this.$http
          .post(
            `${this.$urlApi}getdebtor/filter/${this.identification}`,
            JSON.stringify(this.user),
            {
              headers: { "Content-Type": "application/json" },
            }
          )
          .then(function (response) {
            this.debtor = response.data.debtor;
            this.customers = response.data.customers;
            this.invoices = response.data.invoices;
            
            if(this.debtor !== null){
              this.debtor.email = this.email;
              this.formPay();
            } else {
                this.$swal({
                title: "Información no encontrada",
                text: "La información suministrada no tuvo resultados!",
                type: "warning",
                showCancelButton: false,
                confirmButtonText: "Aceptar",
              }).then((result) => {
                if (result.value) {
                  this.email = '';
                  this.identification = '';
                  this.politics = 0;
                }
              });
            }
            
           hideLoader();
          })
          .catch((error) => {
            console.log(error);
            this.errores = getMsgError(error);
            hideLoader();
          });
                      
      }
    },
    validateForm: function () {
      this.errores = [];
      if(this.identification === ''){
        this.errores.push(
          "Ingrese número cédula o NIT!"
        );
      } else if (!validEmail(this.email)) {
        this.errores.push(
          "Ingrese un correo electrónico válido!"
        );
      } 
      return this.errores.length === 0;
    },
  },
};
</script>
<style>

input[type='radio']:checked:after {  
        width: 18px;
        height: 18px;
        border-radius: 18px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #9e9e9e;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;    
}

</style>
