<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        
        <b-col md="8">
          <b-card-group deck>
            <b-card class="p-2">
              <div class="col-12 text-center py-3">
                  <img src="../../assets/logo1.png" height="50px" alt="">
              </div>
              <b-card-header class="bg-success">
                <h3 class="mb-0">PORTAL DE PAGOS</h3>
              </b-card-header>

              <b-card-body>
                <form @submit.prevent="update()" method="post">
                  <b-row>
                    <div class="col-sm-12">
                      <!-- <p class="font-size-14 mb-0" v-if="debtor.business_name"> -->
                      <h4 class="mb-0" style="text-transform: uppercase">
                        <strong>{{ debtor.business_name }}</strong>
                      </h4>
                      <p class="font-size-18 mt-0">
                        <strong>
                          CC/NIT {{ debtor.identification }}
                          <span v-if="debtor.check_digit != null"
                            >- {{ debtor.check_digit }}</span
                          >
                        </strong>
                      </p>
                    </div>

                    <hr style="width: 100%; color: #eee" />

                    <div class="col-sm-12">
                      <label><strong>Seleccione su obligación</strong></label>
                      <div class="form-group">
                        <template v-for="(customer,index) in customers">
                            <label  style="font-size: 15px; margin-bottom:5px" :key="index">
                              <input type="radio" v-model="type_obligation" @change="getObligationsList(customer.cust_id)" :value="customer.cust_id" name="obligation" /> {{customer.cust_name}}
                            </label>
                            <br/>
                        </template>
                          
                        
                      </div>
                    </div>
                  </b-row>
                </form>
                <b-row>
                    <div v-show="showObligations" class="col-sm-12">
                      <label><strong>Estado de cuenta</strong></label>
                    
                      <b-card-header class="widget-header-dark m-0 p-1">
                        <h5 class="px-2 mb-0 text-left">Obligaciones</h5>
                      </b-card-header>
                      <b-card-body>
                        <table  class="table table-striped ml-0 pl-0">
                          <thead>
                              <th scope="row" class="text-left">Factura</th>
                              <th scope="row" class="text-left">Fecha de vencimiento</th>
                              <th scope="row" class="text-left">Días en mora</th>
                              <th scope="row" class="text-left">Deuda</th>   
                          </thead>
                          <tbody>  
                            <tr v-for="(obligation, index ) in obligationsList" :key="index">
                              <th class="text-left" scope="row">{{obligation.number}}</th>
                              <td class="text-left">{{formatDate(obligation.due_date)}}</td>
                              <td class="text-left">{{obligation.days}}</td>
                              <td class="text-left">{{formatPrice(obligation.debt)}}</td>
                            </tr>                                                   
                          </tbody>
                        </table>

                      </b-card-body>

                  </div>
                </b-row>
                <b-row >

                  <!-- <div  v-show="showObligations" class="col-sm-12">
                      <label><strong>Seleccione su opción de pago</strong></label>
                      <div class="form-group">
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="makePayment(settlement.capital - settlement.initial_payments - settlement.capital_recovered)" /> Capital: $ {{formatPrice(settlement.capital - settlement.initial_payments - settlement.capital_recovered )}}
                        </label>
                        <br />
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="makePayment(settlement.interest - settlement.interests_recovered)" />
                          Intereses : $ {{formatPrice(settlement.interest - settlement.interests_recovered)}}
                        </label>
                        <br />
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="makePayment(settlement.fee - settlement.fees_recovered)" />
                          Honorarios : $ {{formatPrice(settlement.fee - settlement.fees_recovered)}}
                        </label>
                        <br />
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="makePayment(((settlement.capital - settlement.initial_payments) + settlement.interest + settlement.fee) - (settlement.capital_recovered + settlement.interests_recovered + settlement.fees_recovered))" />
                          Total deuda : $ {{formatPrice(((settlement.capital - settlement.initial_payments) + settlement.interest + settlement.fee) - (settlement.capital_recovered + settlement.interests_recovered + settlement.fees_recovered))}}
                        </label>
                        <br />
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="makePayment(settlement.total_payments)" />
                          Acuerdo de pago : $ {{formatPrice(settlement.total_payments)}}
                        </label>
                        <br />
                        <label style="font-size: 15px">
                          <input type="radio" name="color" @change="otherValue()" />
                          Otro valor
                        </label>
                        <div class="col-md-4">
                            <b-form-input type="text" v-show="otherMount" name="color" v-model="otherMountValue" class="form-control sm"  placeholder="Ingrese el monto" />
                            <br />
                            <b-form-select  v-show="paymentMethod" v-model="typePaymentMethod" class="mb-3" id="cmbOrigen" placeholder="metodo de pago">
                                <option :value="null" disabled :selected="true">Medio de pago</option>
                                <option value="Pse">PSE</option>
                                <option value="TC">Tarjeta de Crédito</option>
                            </b-form-select>
                            <br />

                        </div>
                        
                      </div>
                  </div> -->

                </b-row>

                <!-- <b-row v-show="showSummary">
                    <table  class="table table-striped ml-0 pl-0">
                      <tbody>  
                        <tr>
                          <th class="text-right" width="80%" scope="row">Total:</th>
                          <th class="text-left" width="20%">$ {{formatPrice(totalPrePay)}}</th>
                        </tr>
                        <tr>
                          <th class="text-right" width="80%" scope="row">Comisión pasarela de pago (3.8%):</th>
                          <th class="text-left" width="20%">$ {{formatPrice(totalComision)}}</th>
                        </tr>
                        <tr>
                          <th class="text-right" width="80%" scope="row">Total a pagar:</th>
                          <th class="text-left" width="20%">$ {{formatPrice(totalPay)}}</th>
                        </tr>                                                
                      </tbody>
                    </table>
                </b-row> -->

                <b-row v-show="showSummary">
                    <div v-show="showObligations" class="col-sm-12">
                                         
                      <b-card-header class="widget-header-dark m-0 p-1">
                        <h5 class="px-2 mb-0 text-left">Detalle de la deuda</h5>
                      </b-card-header>
                      <b-card-body>
                        <table  class="table table-striped ml-0 pl-0">
                          <tbody>  
                              <tr>
                            <th class="text-right" width="80%" scope="row">Capital: $</th>
                            <th class="text-left" width="20%">{{formatPrice(settlement.capital - settlement.initial_payments - settlement.capital_recovered )}}</th>
                          </tr>
                          <tr>
                            <th class="text-right" width="80%" scope="row">Intereses : $</th>
                            <th class="text-left" width="20%">{{formatPrice(settlement.interest - settlement.interests_recovered)}}</th>
                          </tr>
                          <tr>
                            <th class="text-right" width="80%" scope="row">Honorarios : $</th>
                            <th class="text-left" width="20%">{{formatPrice(settlement.fee - settlement.fees_recovered)}}</th>
                          </tr>  
                          <tr>
                            <th class="text-right" width="80%" scope="row">Acuerdo de pago : $</th>
                            <th class="text-left" width="20%"> {{formatPrice(settlement.total_payments)}}</th>
                          </tr>
                          <tr>
                            <th class="text-right" width="80%" scope="row">Total : $</th>
                            <th class="text-left" width="20%"> {{formatPrice(((settlement.capital - settlement.initial_payments) + settlement.interest + settlement.fee) - (settlement.capital_recovered + settlement.interests_recovered + settlement.fees_recovered))}}</th>
                          </tr>                                                   
                          </tbody>
                        </table>

                      </b-card-body>

                  </div>
                                       
                </b-row>

                <b-row v-show="showSummary">
                  <p class="ml-2" style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.</p>
                </b-row>
                <b-row>
                  <b-col sm="12 offset-5" xs="12 offset-5">
                    <div v-show="showPolitics" class="custom-control custom-radio custom-control-inline" style="">
                      <input  id="rbtEstadoA" type="radio" @change="aceptPay()"  v-model="politics" name="rbtEstado"  v-bind:value="1" class="custom-control-input"/>
                      <label class="custom-control-label" for="rbtEstadoA">Acepto</label>
                    </div>
                  </b-col>
                </b-row>
                <b-row class="mt-2 mb-2 mt-3">
                    <b-col sm="8" class="center-block">
                      <b-row>
                        <b-col cols="12">
                          <!-- <b-button v-show="btnPay"  variant="success"  class="col-sm-12"  @click="payMount()">Pagar</b-button> -->
                          <b-button v-show="showSummary"  variant="success"  class="col-sm-12"  @click="payMount()">Pagar</b-button>
                        </b-col>
                  
                      </b-row>
                    </b-col>
                  </b-row>
                
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "PayDebtorInvoice",
  data() {
    return {
      politics: 0,
      email: "",
      password: "",
      errores: [],
      debtor: {
        business_name: '',
        identification: '',
        id:'',
        email:''
      },
      typePaymentMethod:null,
      otherMount:false,
      paymentMethod:false,
      showObligations: false,
      obligationsList:[],
      invoiceObligations:[],
      type_obligation:'',
      settlement:[],
      totalPrePay:0,
      totalComision:0,
      totalPay:0,
      commissionPercentage:0.038,
      otherMountValue:'',
      showPolitics:false,
      btnPay:false,
      showSummary:false,
      customers:[],
      invoices:[],
    };
  },
  created(){
    this.initData();
  },
  watch: {
    otherMountValue: function () {
      this.calculateTotal(this.otherMountValue);
    },
    totalPay:function(){
      if(this.totalPay > 0){
        this.showPolitics = true;
        this.politics = 0;
      } else {
        this.showPolitics = false;
        this.politics = 0;
        this.btnPay = false;
      }
    },
    typePaymentMethod:function(){
      
      if(this.typePaymentMethod === null){
          this.politics = 0;
      }
    }
  },
  methods: {
    initData(){
      let debtorParam = this.$route.params.debtor;
      let customersParam = this.$route.params.customers;
      let invoicesParam = this.$route.params.invoices;


      this.debtor.business_name = debtorParam.business_name;
      this.debtor.identification = debtorParam.identification;
      this.debtor.id = debtorParam.id;
      this.debtor.email = debtorParam.email;

      this.customers = customersParam;

      this.invoices = invoicesParam;
      
    },
    makePayment(value){
      this.otherMount = false;
      this.paymentMethod = true;
      this.calculateTotal(value);
    },
    calculateTotal(value){
      this.totalPrePay = value;
      this.totalComision = this.totalPrePay * this.commissionPercentage;
      this.totalPay = this.totalPrePay + this.totalComision;
      if(this.totalPay > 0){
        this.showPolitics = true;
      } else {
          this.showPolitics = false;
      }
    },
    aceptPay(){
      this.btnPay= true;
    },
    payMount(){
      //se deja en null para solo demostracion de valores, se debe mejorar
      if(this.typePaymentMethod == null){
        this.$swal({
          title: "Confirmación de pago",
          text: "Se realizará el pago de $"+formatPrice(((this.settlement.capital - this.settlement.initial_payments) + this.settlement.interest + this.settlement.fee) - (this.settlement.capital_recovered + this.settlement.interests_recovered + this.settlement.fees_recovered))+", el resumen de pago será enviado a "+this.debtor.email+".",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Aceptar",
        }).then((result) => {
          if (result.value) {
            this.$router.push({name: 'pay'});
          }
        });

      } else {

          this.$swal({
            title: "Alerta!",
            text: "Escoge una forma de pago",
            type: "warning",
            showCancelButton: false,
          }).then((result) => { });
      }
      
    },
    otherValue(){
        this.btnPay= false;
        this.otherMount = true;
        this.paymentMethod = true;
        this.calculateTotal(this.otherMountValue);
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    formatDate(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    getObligationsList(customer_id){
        
        for(var x= 0; x < this.invoices.length; x++){

            if(this.invoices[x].customer_id === customer_id){
                this.obligationsList = this.invoices[x].invoices_debtor;
                this.settlement = this.invoices[x].elements;
                if(this.obligationsList.length > 0){
                  this.showObligations = true;
                  this.showSummary = true;
              }
            }

        }
    },
  }
};
</script>
<style>

input[type='radio']:checked:after {  
        width: 18px;
        height: 18px;
        border-radius: 18px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #9e9e9e;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;    
}

</style>
